






<div class="row mt-5">
  <div class="col">
    <ul class="list-group">
      {{!-- {{#each news}} --}}
        <li class="list-group-item">{{this.title}} <a href="/news/{{this.id}}">Подробнее</a>
        </li>
      {{!-- {{/each}} --}}
    </ul>
  </div>
</div>
