

<div class="text-bg-success p-3">
<div class="my-2">
{{>navbar}}
</div>
</div>
<br>



<form method="post" action="/mainPage" name="search">
<div class="text-bg-success p-3">
<div class="my-3">
    <label  for="search" class="form-label">Search News</label>
 <input  type="text" class="form-control" id="searching">
<div id="searchNews" class="form-text">
<div class="d-inline-flex p-2">
  <button type="submit" class="btn btn-dark">Search</button>
</div>
</form>

<form>
<div class="my-3">
    <label for="except" class="form-label">  Except News</label>
 <input  type="text" class="form-control" id="exception">
<div id="exceptionButton" class="form-text">
<div class="d-inline-flex p-2">
  <button type="submit" class="btn btn-dark">Exclude</button>
</div>
</div>
</form>





<div class="news"></div>

<script src="js/application.js"></script>
