
<div class="text-bg-success p-3">
<div class="my-2">
{{>navbar}}
</div>
</div>
<br>


<div class="text-bg-success p-3">
<div class="my-5">
    <label for="inputPassword5" class="form-label">Search News</label>
 <input style="width: 300px;" type="text" class="form-control" id="exception">
<div id="passwordHelpBlock" class="form-text">
</div>
</div>
</div>
<br>
<div class="text-bg-success p-3">
<div class="my-5">
    <label for="inputPassword5" class="form-label">Except news</label>
 <input style="width: 300px;" type="text" class="form-control" id="exception">
<div id="passwordHelpBlock" class="form-text">
</div>
</div>
</div>
<br>

<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="france.jpeg" class="d-block w-50" alt="...">
    </div>
    <div class="carousel-item">
      <img src="unnamed.jpeg" class="d-block w-50" alt="...">
    </div>
    <div class="carousel-item">
      <img src="france.jpeg" class="d-block w-50" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
