<div class="text-bg-success p-3">
{{>navbar}}
</div>
<br>

<div class="text-wrap" style="width: 23rem;">
<div class="text-bg-success p-3">
<form method="POST" action="/registr" name="registration">
<div class="text-bg-success p-3">
<div class="my-3">
    <label for="firstName" class="form-label">Name</label>
    <input name="firstName" style="width: 300px;" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">Enter your name</div>
  </div>
  <div class="my-3">
    <label for="email" class="form-label">Email address</label>
    <input name="email" style="width: 300px;" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">Enter your email</div>
  </div>
   <div class="my-1">
    <label for="password" class="form-label"> Password</label>
    <input name="password" style="width: 300px;" type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
    <input name="confirmPassword" style="width: 300px;" type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
</div>
</div>


